.box{
    width: 100px;
    height: 100px;
    border: 2px solid rgb(243, 243, 243);
    background-color: rgb(14, 10, 9);
    transition: width 2s, transform .30s;
    display: inline-block;
}
.box:hover{
    width: 200px;
    transform: rotate(180deg);
}

.cricket{
    border: 1px solid black;
}

.bat{
    margin-bottom: 20px;
    width: 200px;
    transform: 5s ease-in;
    
}
.cricket:hover .bat{
    transform: rotate(-50deg);
    transform-origin: top;
}

.ball{
    width: 50px;
    height: 50px;
    background-color: red;
    border-radius: 50%;
    position: relative;
    left: 290px;
    bottom: 200px;
    transition: transform 1s ease-out;
    
}

.cricket:hover .ball{
    transform: translate(800px);
}

.main ul{
    display: none;
}

.main:hover ul{
    display: block;
    margin-top: 20px;
}

.main > li a{
   text-decoration: none;
   font-size: 25px;
   background-color: rgb(185, 12, 12);
   padding: 10px 20px;
   border-radius: 25px;
    color: white;
    font-weight: 600;
}

.main, ul{
    list-style: none;
}

p{
    font-size: 50px;
    color:rgb(185, 12, 12); ;
}



.ball-bounsing{
    width: 500px;
    height: 300px;
    background-color: lightblue;
}
.ball-2{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: rgb(185, 12, 12);
    animation: sliding 1s ease-in-out 0.5s infinite alternate ;
    animation-play-state: running;
    position: relative;
    top: 100px;
}
@keyframes sliding{
    from {
        background-color: lightgreen;
        left: 0;
    }
    to {
        background-color: violet;
        left: 400px;
    }
    25%{
        top: 0;
    }
    50%{
        top: 100%;
    }
    75%{
        top: 0;
    }
}

.line-1, .line-2{
    width: 5px;
    height: 100px;
    background-color: red;
}

.line{
    display: flex;
    justify-content: space-between;
}